<script>
  if (window.location.hostname !== 'localhost' && window.location.hostname !== '127.0.0.1') {
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PSX8DCHR');
  }
</script>
<script>
  document.addEventListener('click', function (event) {
    var targetLink = event.target.closest('a');
    if (targetLink && (targetLink.href.includes('amazon.com') || targetLink.href.includes('amzn.to'))) {
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'amazon_click_exact',
        'clicked_url': targetLink.href,
        'clicked_text': targetLink.innerText.trim() || 'صورة أو زر'
      });
    }
  });
</script>